region                     = "us-east-1"
cluster_name               = "vault-eks-lab"
vault_snapshot_bucket_name = "vault-lab-snapshots-example"
domain_name                = "lab-internal.com.br"
cloudflare_zone_id         = "preencher-zone-id"
cloudflare_account_id      = "preencher-account-id"
cloudflare_tunnel_name     = "vault-eks-lab"
acme_email                 = "ops@lab-internal.com.br"
vault_hostname             = "vault.lab-internal.com.br"
vault_image_tag            = "1.21.4"
grafana_hostname           = "grafana.lab-internal.com.br"
postgres_allowed_cidrs     = ["0.0.0.0/0"]
postgres_database_name     = "psdb"
postgres_admin_username    = "psuser"
